<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Wired Paper</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Wired Paper</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Paper Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wiredpaper.paper</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).WiredPaperDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Wired Paper Package</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wiredpaper.document</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).WiredPaperDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Word Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.wordprocessingml.document</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).WiredPaperDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Rich Text Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.rtf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).WiredPaperDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Rich Text Document with Attachments</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.rtfd</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).WiredPaperDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>OpenDocument Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.oasis-open.opendocument.text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).WiredPaperDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Web Page</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).WiredPaperDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Plain Text Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).WiredPaperDocument</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.wiredpaper.paper</string>
			<key>UTTypeDescription</key>
			<string>Paper Document</string>
			<key>UTTypeIconName</key>
			<string>AppIcon</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>paper</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.wiredpaper.paper</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.wiredpaper.document</string>
			<key>UTTypeDescription</key>
			<string>Wired Paper Document</string>
			<key>UTTypeIconName</key>
			<string>AppIcon</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wiredpaper</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
